<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/Development/AutomationLogs/AutomationLog.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/Development/AutomationLogs/AutomationLog.%i.log.zip</fileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>5</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="com.pradeep.qa.NaveenChallenge3Logging" level="INFO" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>
    <root level="DEBUG">
        <appender-ref ref="RollingFile"/>
    </root>
</configuration>